# Financial Services Use In Tanzania

In [42]:
# loading modules
from IPython.display import display, HTML
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [56]:
# reading csv
mob_mon= pd.read_csv('training.csv')
mob_mon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7094 entries, 0 to 7093
Data columns (total 37 columns):
ID                             7094 non-null int64
Q1                             7094 non-null int64
Q2                             7094 non-null int64
Q3                             7094 non-null int64
Q4                             7094 non-null int64
Q5                             7094 non-null int64
Q6                             7094 non-null int64
Q7                             7094 non-null int64
Q8_1                           7094 non-null int64
Q8_2                           7094 non-null int64
Q8_3                           7094 non-null int64
Q8_4                           7094 non-null int64
Q8_5                           7094 non-null int64
Q8_6                           7094 non-null int64
Q8_7                           7094 non-null int64
Q8_8                           7094 non-null int64
Q8_9                           7094 non-null int64
Q8_10                          7094 non-null int64
Q8_11                          7094 non-null int64
Q9                             7094 non-null int64
Q10                            7094 non-null int64
Q11                            7094 non-null int64
Q12                            7094 non-null int64
Q13                            7094 non-null int64
Q14                            7094 non-null int64
Q15                            7094 non-null int64
Q16                            7094 non-null int64
Q17                            7094 non-null int64
Q18                            7094 non-null int64
Q19                            7094 non-null int64
Latitude                       7094 non-null float64
Longitude                      7094 non-null float64
mobile_money                   7094 non-null int64
savings                        7094 non-null int64
borrowing                      7094 non-null int64
insurance                      7094 non-null int64
mobile_money_classification    7094 non-null int64
dtypes: float64(2), int64(35)
memory usage: 2.0 MB

In [44]:
#missing values
missing_values = mob_mon.isnull().sum().sum()
print('Number of missing values:',missing_values)

Number of missing values: 0

In [45]:
summary = mob_mon.describe()
summary = summary.transpose()
summary.head()

     count       mean        std   min   25%   50%   75%    max
Q1  7094.0  38.239498  16.332148  16.0  25.0  35.0  48.0  100.0
Q2  7094.0   1.559910   0.496433   1.0   1.0   2.0   2.0    2.0
Q3  7094.0   1.787426   1.165160   1.0   1.0   1.0   3.0    4.0
Q4  7094.0   3.060051   1.557779   1.0   2.0   3.0   3.0    8.0
Q5  7094.0   2.548915   1.534257   1.0   1.0   3.0   4.0    6.0

In [46]:
males = mob_mon[mob_mon.Q2 == 1]

In [47]:
females = mob_mon[mob_mon.Q2 == 2]

In [48]:
f1 = len(females[females.mobile_money == 1])
f2 = len(females[females.mobile_money == 0])
f = f1 + f2
print('Females with Mobile Money:',f1)
print('Females without Mobile Money:',f2)
print('Total number of females:',f)

Females with Mobile Money: 1971
Females without Mobile Money: 2001
Total number of females: 3972

In [49]:
m1 = len(males[males.mobile_money == 1])
m2 = len(males[males.mobile_money == 0]) 
m = m1 + m2
print('Males with Mobile Money:',m1)
print('Males without Mobile Money:',m2)
print('Total number of males:',m)

Males with Mobile Money: 1959
Males without Mobile Money: 1163
Total number of males: 3122

In [50]:
average_male_age = males[males.mobile_money == 1].Q1.mean()
print(average_male_age)

37.12404287901991

In [51]:
average_female_age = females[females.mobile_money == 1].Q1.mean()
print( average_female_age)

35.531709791983765

In [52]:
# mob_mon.plot(kind='line',title='females',color='red',subplots=True, legend=True)
# plt.show()

In [53]:
import sys
#!{sys.executable} -m pip install folium --user
import folium
from geopy.geocoders import Nominatim

In [77]:
mob_mon_incomes = mob_mon[["Q8_1" ,"Q8_2","Q8_3","Q8_4","Q8_5","Q8_6","Q8_7","Q8_8","Q8_9","Q8_10","Q8_11"]] 

income_type = {
    "Q8_1":'Salaries/wages',
    "Q8_2":'trading/selling',
    "Q8_3":'service',
    "Q8_4":'Piece work/Casual labor/Occasional jobs',
    "Q8_5":'Rental income',
    "Q8_6":'Interest',
    "Q8_7":'Pension',
    "Q8_8":'Social welfare money/grant from Government',
    "Q8_9":'Rely on someone',
    "Q8_10":'Don’t get money',
    "Q8_11": 'Other'
}

for column,label in income_type.items():
    mob_mon_incomes[column] = [label if each ==1 else 'none' for each in mob_mon_incomes[column]]
mob_mon_incomes.head(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Q8_1  Q8_2  Q8_3  Q8_4  Q8_5  Q8_6  Q8_7  Q8_8             Q8_9 Q8_10 Q8_11
0  none  none  none  none  none  none  none  none  Rely on someone  none  none

In [110]:
x = [1,2,3,2,2,2,3,4]
def remove_none(watever):
    return [x for x in watever if x != "none"]
income = []
for index, row in mob_mon_incomes.head(1).iterrows():
    # this will give you a list of values in your row.
    row = list(row)

    # you want to remove all "none" values from your list.
    nfl = remove_none(row)

    # *if* your list is empty after the process of elimination, you want to append "No income".
    if len(nfl) == 0:
        nfl.append("No income")
    
    income.append(nfl)
df = mob_mon_incomes.head(1)
df['income type'] = income
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q8_11,income type
0,none,none,none,none,none,none,none,none,Rely on someone,none,none,[Rely on someone]

In [96]:
l(x)

True

In [108]:
# Creating a map for tanzania.
lat = -6.270353 ; lon = 34.823454
income_type_map = folium.Map(location = [lat,lon],zoom_start = 10)

# Addding Markers for map.
for lat,long,label in zip(mob_mon['Latitude'],mob_mon['Longitude'],mob_mon['income type'], 
                          label=folium.Popup(label, parse_html = True)):
    folium.CircleMarker(location = [lat, lng], 
                        radius = 2.5,
                        popup = label,
                        color = 'blue',
                        fill = True,
                        fill_color = '#800080',
                        fill_opacity = 0.5,
                        parse_html = False).add_to(income_type_map)
mob_mon_map

KeyError: 'income type'