# Financial Services Use In Tanzania

In [1]:
# loading modules
from IPython.display import display, HTML
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [3]:
# reading csv
mob_mon= pd.read_csv('training.csv')
mob_mon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7094 entries, 0 to 7093
Data columns (total 37 columns):
ID                             7094 non-null int64
Q1                             7094 non-null int64
Q2                             7094 non-null int64
Q3                             7094 non-null int64
Q4                             7094 non-null int64
Q5                             7094 non-null int64
Q6                             7094 non-null int64
Q7                             7094 non-null int64
Q8_1                           7094 non-null int64
Q8_2                           7094 non-null int64
Q8_3                           7094 non-null int64
Q8_4                           7094 non-null int64
Q8_5                           7094 non-null int64
Q8_6                           7094 non-null int64
Q8_7                           7094 non-null int64
Q8_8                           7094 non-null int64
Q8_9                           7094 non-null int64
Q8_10                          7094 non-null int64
Q8_11                          7094 non-null int64
Q9                             7094 non-null int64
Q10                            7094 non-null int64
Q11                            7094 non-null int64
Q12                            7094 non-null int64
Q13                            7094 non-null int64
Q14                            7094 non-null int64
Q15                            7094 non-null int64
Q16                            7094 non-null int64
Q17                            7094 non-null int64
Q18                            7094 non-null int64
Q19                            7094 non-null int64
Latitude                       7094 non-null float64
Longitude                      7094 non-null float64
mobile_money                   7094 non-null int64
savings                        7094 non-null int64
borrowing                      7094 non-null int64
insurance                      7094 non-null int64
mobile_money_classification    7094 non-null int64
dtypes: float64(2), int64(35)
memory usage: 2.0 MB

In [4]:
#missing values
missing_values = mob_mon.isnull().sum().sum()
print('Number of missing values:',missing_values)

Number of missing values: 0

In [5]:
summary = mob_mon.describe()
summary = summary.transpose()
summary.head()

     count         mean          std   min      25%     50%     75%     max
ID  7094.0  4742.627291  2731.120086   1.0  2397.25  4744.5  7105.0  9459.0
Q1  7094.0    38.239498    16.332148  16.0    25.00    35.0    48.0   100.0
Q2  7094.0     1.559910     0.496433   1.0     1.00     2.0     2.0     2.0
Q3  7094.0     1.787426     1.165160   1.0     1.00     1.0     3.0     4.0
Q4  7094.0     3.060051     1.557779   1.0     2.00     3.0     3.0     8.0

In [13]:
males = mob_mon[mob_mon.Q2 == 1]

In [14]:
females = mob_mon[mob_mon.Q2 == 2]

In [15]:
f1 = len(females[females.mobile_money == 1])
f2 = len(females[females.mobile_money == 0])
f = f1 + f2
print('Females with Mobile Money:',f1)
print('Females without Mobile Money:',f2)
print('Total number of females:',f)

Females with Mobile Money: 1971
Females without Mobile Money: 2001
Total number of females: 3972

In [16]:
m1 = len(males[males.mobile_money == 1])
m2 = len(males[males.mobile_money == 0]) 
m = m1 + m2
print('Males with Mobile Money:',m1)
print('Males without Mobile Money:',m2)
print('Total number of males:',m)

Males with Mobile Money: 1959
Males without Mobile Money: 1163
Total number of males: 3122

In [17]:
average_male_age = males[males.mobile_money == 1].Q1.mean()
print(average_male_age)

37.12404287901991

In [18]:
average_female_age = females[females.mobile_money == 1].Q1.mean()
print( average_female_age)

35.531709791983765

In [5]:
# mob_mon.plot(kind='line',title='females',color='red',subplots=True, legend=True)
# plt.show()

In [3]:
import sys
#!{sys.executable} -m pip install folium --user
import folium
from geopy.geocoders import Nominatim